<h3>No idea what meal to try, then let us help you give some ideas!</h3>
<div class="filterPageClass">

  
<form method="GET" action="/recipes/home-food-buddies" class="formFilter">
  <label for="continent-select">Choose a continent</label>
  <select name="continent">
    <option value="">Please choose an option</option>
    <option value="America">America</option>
    <option value="Europe">Europe</option>
    <option value="Asia">Asia</option>
    <option value="Africa">Africa</option>
  </select>

  <label for="meal">Choose a type of meal</label>
  <select name="meal" id="meal">
    <option value="">Please choose an option</option>  
    <option value="breakfast">Breakfast</option>
    <option value="lunch">Lunch</option>
    <option value="dinner">Dinner</option>
    <option value="dessert">Dessert</option>
  </select>


  <button>Find me ideas</button> 


</form>
</div>
<h3>Food Buddies ideas based on your selected options</h3>

<% if (typeof selectedRecipes !== 'undefined') { %>
  
<% selectedRecipes.forEach(recipe => { %>
  <p><b><u>Meal name</u></b><div class="likedRecipeClass"><%= recipe.name %></div>  </p>
  <p><b><u>Continent</u></b><div class="likedRecipeClass"><%= recipe.continent %></div>  </p>
  <p><b><u>Type of Meal</u></b><div class="likedRecipeClass"><%= recipe.meal %></div>  </p>
  <p><b><u>Info</u></b><div class="likedRecipeClass"><%= recipe.info %></div>  </p>
  <br>
 <button><a href="/recipes/add-recipe/<%= recipe._id %>">Add Meal</a></button>
 
 <button><a href="https://www.google.com/search?q=<%= recipe.name %>&tbm=isch" target="_blank">Check Meal Images</a></button> 

 
<% }) %>
<% } %>

<br>
<br>
<a href="#"><button>Back to Top</button></a>
