<h3>No idea what meal to try, then let us help you give some ideas!</h3>

<form method="GET" action="/recipes/home-food-buddies">
  <label for="continent-select">Choose a continent</label>
  <select name="continent">
    <option value="">--Please choose an option--</option>
    <option value="America">America</option>
    <option value="Europe">Europe</option>
    <option value="Asia">Asia</option>
    <option value="Africa">Africa</option>
  </select>

  <label for="meal">Choose a type of meal</label>
  <select name="meal" id="meal">
    <option value="">--Please choose an option--</option>  
    <option value="breakfast">Breakfast</option>
    <option value="lunch">Lunch</option>
    <option value="dinner">Dinner</option>
    <option value="dessert">Dessert</option>
  </select>


  <button>Find me ideas</button> 


</form>

<h3>Food Buddies ideas based on your selected options</h3>

<% if (typeof selectedRecipes !== 'undefined') { %>
  
<% selectedRecipes.forEach(recipe => { %>
<p>Meal name: <%= recipe.name %>  </p>
 <p>Continent: <%= recipe.continent %>  </p>
 <p>Type of Meal: <%= recipe.meal %>  </p>
 <p>Info: <%= recipe.info %>  </p>

  <button><a href="/recipes/add-recipe/<%= recipe._id %>">ADD RECIPE</a></button>
<% }) %>
<% } %>

<a href="/index"><button>Back to home</button></a>

