
<h2>Welcome <%- loginUser.username %> to your food buddies profile</h2>
<h3>Need new ideas, then please <button><a href= "home-food-buddies">Go to filter</a></button></h3>


<p>Here you can have fun with your new added meals and update them</p>


<% loginUser.likedRecipes.forEach(recipe => { %>
 <p>Meal name: <%= recipe.name %>  </p>
 <p>Continent: <%= recipe.continent %>  </p>
 <p>Type of Meal: <%= recipe.meal %>  </p>
 <p>Info: <%= recipe.info %>  </p>

 <button><a href="https://www.google.com/search?q=<%= recipe.name %>&tbm=isch" target="_blank">Food Buddies Image</a></button> 
 <button><a href="/recipes/update-recipe/<%= recipe._id %>">Update Meal</a></button>
 <button><a href="/recipes/delete-recipe/<%= recipe._id %>">Delete Meal</a></button>
<% }) %>

<a href="#"><button>Back to Top</button></a>
