
<!--
login > profile > CRUD only on recipes >  update and delete
                > home-food-buddies > all filters option available > selected-recipes as result > add to the profile
              

-->

<h2>Welcome <%- loginUser.username %> </h2>

<h3>Your Food Buddies Profile</h3>


<form method="POST" action="/recipes/delete/<%= recipe.id%>">

<% loginUser.likedRecipes.forEach(recipe => { %>

<label>Name : <input type="text" name="name" value="<%= recipe.name %>"  /></label>
<label>Continent :<input type="text" name="continent" value="<%= recipe.continent %>" /></label>
<label>Type of Meal :<input type="text" name="meal" value="<%= recipe.meal %>" /></label>

<button><a href="/recipes/delete/<%= recipe._id %>">DELETE RECIPE</a></button><br>

<% }) %>

</form>